:root {
    color-scheme: light dark;
}

.summary {
/*    overflow: auto;*/
    max-height: 600px;
    padding-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 1px;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: #fff;
}
.container{
    
    padding: 20px;
}
.summary {
    margin-top: 20px;
}

.spinning {
    position: relative;
}

.spinning::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f5f5f5;
    }
    /* Add more dark mode styles for other elements as needed. */
}
