/*:root {*/
/*    color-scheme: light dark;*/
/*}*/
/**/
/*.summary {*/
/*    overflow: auto;*/
/*    max-height: 600px;*/
/*    padding-bottom: 20px;*/
/*}*/
/**/
/*.subtitle {*/
/*  text-align: center;*/
/*  font-size: 16px;*/
/*  color: #666;*/
/*  font-weight: normal;*/
/*  margin-top: 0px;*/
/*  margin-bottom: 0px;*/
/*}*/
/**/
/*.settings-wrapper {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/**/
/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f5f5f5;*/
/*    color: #333;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    width: 450px;*/
/*    height: 450px;*/
/*    margin: 0 auto;*/
/*    background-color: #fff;*/
/*}*/
/**/
/*h2 {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 0px;*/
/*}*/
/**/
/*select {*/
/*    padding: 6px 8px;*/
/*    font-size: 14px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*}*/
/**/
/*button {*/
/*    padding: 10px 20px;*/
/*    font-size: 14px;*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    margin-top: 20px;*/
/*}*/
/**/
/*button:hover {*/
/*    background-color: #45a049;*/
/*}*/
/**/
/*#openSettings {*/
/*    background-color: #2196F3;*/
/*    margin-left: 5px;*/
/*}*/
/**/
/*#openSettings:hover {*/
/*    background-color: #1e88e5;*/
/*}*/
/**/
/*.summary {*/
/*    margin-top: 20px;*/
/*}*/
/**/
/*.spinning {*/
/*    position: relative;*/
/*}*/
/**/
/*.spinning::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    margin-top: -10px;*/
/*    margin-left: -10px;*/
/*    border: 2px solid #ccc;*/
/*    border-top-color: #333;*/
/*    border-radius: 50%;*/
/*    animation: spin 1s linear infinite;*/
/*}*/
/**/
/*@keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0);*/
/*    }*/
/*        100% {*/
/*            transform: rotate(360deg);*/
/*        }*/
/*    }*/
/**/
/*    @media (prefers-color-scheme: dark) {*/
/*        body {*/
/*            background-color: #333;*/
/*            color: #f5f5f5;*/
/*        }*/
/*        /* Add more dark mode styles for other elements as needed. */*/
/*    }*/

:root {
    color-scheme: light dark;
}

.summary {
/*    overflow: auto;*/
    max-height: 600px;
    padding-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 1px;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: #fff;
}
.container{
    
    padding: 20px;
}
.summary {
    margin-top: 20px;
}

.spinning {
    position: relative;
}

.spinning::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f5f5f5;
    }
    /* Add more dark mode styles for other elements as needed. */
}
